
.navbar{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 100;
    background-color:  #22315e;
}
#logo{
    color: antiquewhite;
    font-weight: 700;
}
.nav-link.active {
    color: #b4871d !important;
    
  }
.nav-item{
    margin: 0px 10px;
    color: antiquewhite;
}
#navLink{
  color: antiquewhite;
}

#navSocialBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#socialIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#socialIcons i{
    color: #22315e;
    font-weight: 700;
    margin-right: 10px;
    font-size: 18px;
}

#navSocialBtn button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border: 1px solid antiquewhite;
    border-radius: 4px;
    color: antiquewhite;
    font-size: 16px;
    background-color:  #22315e;
}
#navSocialBtn button i{
    color: blanchedalmond;
    font-size: 20px;
    margin-left: 5px;
}